.md-typeset {
    font-size: 15px !important;
    line-height: 1.45 !important;
}

.md-typeset h1{
    font-size: 32px !important;
    font-weight: 700!important;
    line-height: 32px !important;
    letter-spacing: 0.02em;
    margin: 0 0 10px 0;
    border-bottom: solid 1px #e1e1e1;
}


.md-typeset h2{
    font-size: 28px !important;
    font-weight: 700!important;
    line-height: 28px !important;
    letter-spacing: 0.02em;
    border-bottom: solid 1px #e1e1e1;
}

.md-typeset h3{
    font-size: 20px !important;
    font-weight: 700!important;
    line-height: 20px !important;
}

.md-nav {
    font-size: 12px !important;
    line-height: 1.3 !important;
}